.item-single{
    border: 2px solid pink
}

.item-single-first{
    font-weight:bolder;
    font-size:large;
    text-decoration:underline;
}

.item-single-last{
    font-style:italic;
    font-weight:bolder;
}